h2 {
    color: darkseagreen;
    background-color: indianred;
    text-align: center;
}

button {
    color: indianred;
    background-color: peachpuff;
}

p {
    color: rgb(205, 92, 92);
    background-color: rgb(255, 218, 185);
    text-align: right;
    font-weight: 700;

}

h3 {
    color: #0F5679;
    background-color: #FF7865;
    /* text decoration can be used to remove default underlines like for links */
    text-decoration: peachpuff wavy line-through;
    /* line-height: 50%; */
    letter-spacing: 10px;
}

body {
    background-color: #0F5679;
}